* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(gambar/pexels-vova-krasilnikov-2796145.jpg);
    background-size: 100%;
}
.wraper {
    margin: 1rem auto;
    width: 30%;	
}
fieldset {
    padding: 5px 2rem;
    text-align: center;
    background-color:white;
    border-radius: 5px
}
label {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    padding: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
    font-size: 15px;
}
.tombolsubmit {
    font-weight: 500;
    padding: 5px 100px;
    border: none;
    background-color: #58B19F;
}
.tombolsubmit:hover {
    background-color:  #00cec9 ;
}
.countryselect {
    padding: 5px 50px; font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ;
}
